<% content_for(:title, "Products | #{@product.name}") %>

<div class="page-header">
  <h5 class="back"><%= link_to "All Products", products_path %></h5>
  <h1><%= @product.name %></h1>
  <div class="product-options">
    <%= link_to "Edit", edit_product_path(@product) %> |
    <%= link_to "Delete", product_path(@product), data: {
      confirm: "This will permanently delete this product. Are you sure?",
      method: "delete"
      } %>
  </div>
</div>
<h3>$<%= @product.cost %></h3>
<p>Country of Origin: <%= @product.origin %></p>
<hr>
<p><%= link_to "Product Reviews", product_reviews_path(@product) %></p>
